# Visual Studio
.vs/
*.sln
*.vsconfig

# Rider
.idea/
*.uproject.DotSettings.user

# Misc
.DS_Store/
Misc/

# Unreal Engine
StereoMix/Binaries/*
!StereoMix/Binaries/Win64
StereoMix/Binaries/Win64/*

## Build Data ~
!StereoMix/Binaries/Win64/StereoMixEditor.target
!StereoMix/Binaries/Win64/UnrealEditor.modules
!StereoMix/Binaries/Win64/UnrealEditor-StereoMix.dll

StereoMix/Build/
StereoMix/DerivedDataCache/
StereoMix/Intermediate/
StereoMix/Platforms/
StereoMix/Saved/
StereoMix/Packaged/

# FMODStudio     // Remove when not in use
FMODProject/*
!FMODProject/Assets
!FMODProject/Metadata
!FMODProject/FMODProject.fspro

StereoMix/Plugins/FMODStudio/Docs
StereoMix/Plugins/FMODStudio/Binaries/*
!StereoMix/Plugins/FMODStudio/Binaries/Win64
StereoMix/Plugins/FMODStudio/Binaries/Win64/*
!StereoMix/Plugins/FMODStudio/Binaries/Win64/fmod.dll
!StereoMix/Plugins/FMODStudio/Binaries/Win64/fmod_vc.lib
!StereoMix/Plugins/FMODStudio/Binaries/Win64/fmodL.dll
!StereoMix/Plugins/FMODStudio/Binaries/Win64/fmodL_vc.lib
!StereoMix/Plugins/FMODStudio/Binaries/Win64/fmodstudio.dll
!StereoMix/Plugins/FMODStudio/Binaries/Win64/fmodstudio_vc.lib
!StereoMix/Plugins/FMODStudio/Binaries/Win64/fmodstudioL.dll
!StereoMix/Plugins/FMODStudio/Binaries/Win64/fmodstudioL_vc.lib
!StereoMix/Plugins/FMODStudio/Binaries/Win64/resonanceaudio.dll

## Build Data ~
!StereoMix/Plugins/FMODStudio/Binaries/Win64/UnrealEditor.modules
!StereoMix/Plugins/FMODStudio/Binaries/Win64/UnrealEditor-FMODStudio.dll
!StereoMix/Plugins/FMODStudio/Binaries/Win64/UnrealEditor-FMODStudioEditor.dll

StereoMix/Plugins/FMODStudio/Intermediate

# KawaiiPhysics     // Remove when not in use\
StereoMix/Plugins/KawaiiPhysics/Binaries/*
!StereoMix/Plugins/KawaiiPhysics/Binaries/Win64
StereoMix/Plugins/KawaiiPhysics/Binaries/Win64/*
StereoMix/Plugins/KawaiiPhysics/Intermediate

## Build Data ~
!StereoMix/Plugins/KawaiiPhysics/Binaries/Win64/UnrealEditor.modules
!StereoMix/Plugins/KawaiiPhysics/Binaries/Win64/UnrealEditor-KawaiiPhysics.dll
!StereoMix/Plugins/KawaiiPhysics/Binaries/Win64/UnrealEditor-KawaiiPhysicsEd.dll
