---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignEscapedNewlines: DontAlign
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
BreakConstructorInitializers: BeforeColon
ColumnLimit: 1000
Cpp11BracedListStyle: false
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: false
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentPPDirectives: None
IndentWrappedFunctionNames: false
InsertBraces: true
InsertNewlineAtEOF: true
IndentWidth: 4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '.*\.generated\.h'
    Priority: 100
  - Regex: '^<.*>'
    Priority: 1
  - Regex: 'CoreMinimal.h'
    Priority: 2
    SortPriority: 1
  - Regex: 'Engine/[^/]*.h'
    Priority: 2
    SortPriority: 2
  - Regex: 'GameFramework/[^/]*.h'
    Priority: 2
    SortPriority: 2
  - Regex: 'Kismet[^/]*.h'
    Priority: 2
    SortPriority: 3
  - Regex: '".*"'
    Priority: 2
    SortPriority: 10
  - Regex: '^<.*\.(h)>'
    Priority: 2
    SortPriority: 11
KeepEmptyLinesAtTheStartOfBlocks: false
MacroBlockBegin: "^UE_TRACE_.+_BEGIN"
MacroBlockEnd: "^UE_TRACE_.+_END"
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PPIndentWidth: 0
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
SeparateDefinitionBlocks: Leave
SortIncludes: CaseSensitive
SortUsingDeclarations: Lexicographic
SpaceAfterTemplateKeyword: false
SpaceBeforeCaseColon: false
SpaceInEmptyBlock: true
SpacesInContainerLiterals: false
StatementMacros: [ 'UPROPERTY', 'UFUNCTION', 'UCLASS', 'USTRUCT', 'UENUM', 'UINTERFACE', 'GENERATED_BODY' ]
TabWidth: 4
UseTab: Always